
<h1 class="title">Henger felszíne</h1>

<h6 class="text-center">Zsolnai Bernadett</h6>
<h6 class="text-center">Szoft II N</h6>
<h6 class="text-center">2022.01.13</h6>

<br>
<br>

<form [formGroup]="hengerFelsz" class="container" class="text-center">

  <label class="label">Henger sugara: </label>
  <br>
  <input formControlName="sugar">

  <br>
  <br>

  <label class="label"> Henger hossza: </label>
  <br>
  <input formControlName="hossz">

  <br>
  <br>

  <button (click)=onClickSzamol() type="button" class="btn btn-info">Számol</button>

  <br>
  <br>

    <label class="label">Felszín</label>
    <br>
    <input class="input" formControlName="felszin" class="btn btn-secondary disabled placeholder col-4">


</form>